:root {
    --main-white: #fefcfb;
    --main-black: #081c15;
    --main-green: #16db65;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Helvetica, sans-serif;
    background: linear-gradient(90deg, var(--main-black), var(--main-green));
    background-size: 200% 200%;
    animation: gradient-animation 15s ease infinite;
}

@keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.navbar {
    width: 100%;
    color: var(--main-white);
    background: rgba(0, 0, 0, 0.5);
    padding: 10px 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

.navbar-container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .brand {
    font-size: 24px;
    font-weight: bold;
    color: var(--main-white);
    text-decoration: none;
}

.navbar .nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar .nav-links li {
    margin-left: 20px;
}

.navbar .nav-links a {
    text-decoration: none;
    color: var(--main-white);
    font-size: 16px;
}

.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
    z-index: 10;
}

.menu-toggle .bar {
    width: 25px;
    height: 3px;
    margin: 4px 0;
    transition: 0.4s;
    background-color: var(--main-white);
}

.login-container {
    background: rgba(46, 42, 42, 0.75);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
    margin-top: 80px;
    /* Espacio para la barra de navegación */
}

.login-container img {
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
}

.login-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-container input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    /* Asegura que el padding no afecte el ancho total */
}

.password-container {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
}

.password-container input {
    width: calc(100% - 40px);
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    /* Asegura que el padding no afecte el ancho total */
}

.password-container button {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 40px;
    border: none;
    border-radius: 0 5px 5px 0;
    background-color: transparent;
    cursor: pointer;
}

.password-container button:focus {
    outline: none;
}

.password-container button i {
    font-size: 18px;
    color: red;
}

.password-container button.active i {
    color: #333;
}

.login-container button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: black;
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
    box-sizing: border-box;
    /* Asegura que el padding no afecte el ancho total */
}

.login-container button:hover {
    background-color: var(--main-green);
}

.sign-in-button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
    box-sizing: border-box;
    /* Asegura que el padding no afecte el ancho total */
}

.sign-in-button:hover {
    background-color: green;
}

.forgot-password {
    display: block;
    color: var(--main-white);
    text-decoration: none;
    font-size: 14px;
    margin-bottom: 1rem;
}

.footer {
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    left: 0;
}

.footer p {
    margin: 0;
    color: var(--main-white);
}

/* Media Queries for responsiveness */
@media (max-width: 768px) {
    .login-container {
        width: 80%;
        padding: 15px;
    }

    .login-container img {
        width: 80px;
        height: 80px;
    }

    .login-container input,
    .password-container input {
        padding: 8px;
    }

    .password-container button {
        width: 35px;
        /* Reducir el ancho para dispositivos móviles */
    }

    .menu-toggle {
        display: flex;
        z-index: 1500;
        /* Asegura que esté por encima del contenido */

    }

    .navbar .nav-links {
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
        position: absolute;
        top: 55px;
        left: 0;
        right: 0;
        margin: 0 auto;
        padding: 0px 0;
        transition: all 0.3s ease;
        z-index: 10;
        /* Asegura que esté por encima del contenido */
    }

    .navbar .nav-links.active {
        display: flex;
        background-color: rgba(0, 0, 0, 0.5);
    }

    .navbar .nav-links li {
        margin: 10px 0;
    }

    .navbar .nav-links a {
        font-size: 18px;
    }
}

@media (max-width: 480px) {
    .login-container {
        width: 90%;
        padding: 10px;
    }

    .login-container img {
        width: 60px;
        height: 60px;
    }

    .login-container input,
    .password-container input {
        padding: 6px;
        font-size: 14px;
    }

    .login-container button,
    .sign-in-button {
        padding: 6px;
        font-size: 12px;
    }

    .password-container button {
        width: 30px;
        /* Reducir el ancho para dispositivos móviles */
    }

    .navbar .brand {
        font-size: 20px;
    }

    .navbar .nav-links a {
        font-size: 14px;
    }
}

@media (min-width: 1024px) {
    .login-container {
        width: 400px;
    }

    .login-container button,
    .sign-in-button {
        font-size: 18px;
    }

    .password-container button {
        width: 50px;
    }
}